@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

body {
    /*height: 100vh;*/
    font-family: 'Montserrat';
}

label {
    font-size: 0.9rem;
}

.signup-box {
    border-radius: 25px;
    margin-top: 5%;
    margin-bottom: 100px;
    padding: 4rem 2.5rem 6rem;
}

.signup-heading {
    font-size: 3.5rem;
    font-weight: 700;
}

.navbar-brand {
    font-weight: 900;
    font-size: 1.5rem;
}